* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}
:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'norse-bold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f9fafb;
    display: flex;
}

p, h1 {
    margin: 0;
}

.sidebar {
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 35%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.logo {
    position: absolute;
    bottom: 66.66%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.logo {
    color: white;
    text-align: center;
    font-size: 5rem;
    font-family: "norse-bold";
}

.logo img {
    height: 100px;
    margin: 0;
}

.credits {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.credits a {
    color: rgba(255, 255, 255, 0.8);
}

.signup-section {
    display: flex;
    flex-direction: column;
}

.intro {
    height: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    padding: 0 0 50px 40px;
}

.intro p {
    width: 70%;
    font-weight: 600;
    font-size: 1.3rem;
}

#signup-form h1 {
    font-size: 1.3rem;
}

#signup-form {
    padding: 20px 50px 20px 40px;
    background-color: white;
    box-shadow:  5px 5px 5px rgb(0 0 0 / 12%);
}

.input-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
}

.form-row {
    text-transform: uppercase;
    font-size: 0.8rem;
    width: 40%;
    margin: 10px 0;
    position: relative;
}

.form-row input {
    display: block;
    margin-top: 5px;
    width: 100%;
    border: 1px solid #E5E7EB;
}

.form-row input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 12%);
}

button {
    margin: 30px 40px;
    padding: 10px;
    width: 150px;
    background-color: #596D48;
    border: none;
    border-radius: 8px;
    color: white;
    font: inherit;
}

button + p {
    margin-left: 40px;
}

button + p a {
    text-decoration: none;
    color: #596D48;
}



/* @media screen and (max-width: 850px) {

} */